/* RESET */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-around {
    justify-content: space-around;
}


.flex-between {
    justify-content: space-between;
}

.flex {
    display: flex;
}

header {

    height: 80px;
    background-color: white;
}

ul {

    list-style: none;
}

li {
    margin-right: 10px;
}


header nav {
    align-items: center;
}



img {

    height: 20px;
    
}

.container {

    max-width: 900px;
    margin: 0 auto;
}

div.jumboscreen {

   
   
    
    position: relative;
    top: 35px;

}

.jumbo-section {

    height: 600px;

    background-color: rgb(179, 208, 231);
    padding: 50px;
}

div.jumbo-column-big {

    height: 400px;
    width: 70%;
    
}

div.jumbo-column-small {
    height: 400px;
    width: 30%;
    
}


.button-trial {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    background-color: rgba(14, 110, 234, 0.924);
    padding: 10px;
    color: white;

}



div h1 {
    font-size: 4.5rem;
}

section div img {
    height: 100%;
}



.container2 {

    max-width: 800px;
    margin: 0 auto;
}

.h2-radio-box {

   
    
    margin-top: 100px;

}

div h2 {
    font-size: 2rem;
}

div.radio-buttons { 
    margin-top: 40px;
}



.column {

    width: calc(90% / 3);
   
    border: solid 1px lightgray;
    height: 600px;
    margin-top: 50px;
}

.inside-column {
    padding: 20px 20px;
}

ul {
    list-style-type: none;
}

.hr-column {
    width: 20%;
}

section.icon {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.icons-column-ul {

    margin-top: 20px;
    margin-bottom: 20px;
}



.enterprise-box {

    height: 200px;
   border: 1px solid lightgray;
    margin-top: 50px;

}

.team-section {

    text-align: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}


section.ufficio-vendite {
    position: relative;
    padding: 20px;
}

button.ufficio-vendite-button {
    position: absolute;
    right: 20px;
    top: 0;
}


div.photo-box {

    height: 350px;
    
    margin-top: 100px;
}

div.photo-mens-box {
    width: 50%;
}

div.text-box {

    width: 50%;
    padding: 50px;
}

div.photo-mens-box img {
    height: 100%;
}


div.single-box {

    width: calc(100% / 3);
   
    border: 5px solid white;
    height: 400px;
    
}


div.h2-box {
    width: 100%;
   
    margin-top: 100px;
   
    
}

div.single-box img {
    height: 50%;
    
}


div.sponsor-box {
    height: 150px;
    width: 100%;
    padding-right: 220px;
}



div.first-box-row {

    margin-top: 10px;
}

div.second-box-row {

    margin-bottom: 100px;
}


div.square-box {

    width: calc(100% / 3);
    background-color: coral;
    border: solid 1px black;
    height: 400px;
}

div.square-logo {

    width: calc(100% / 2);
    height: calc(100% / 2);
    
    text-align: center;
   
    border: solid 1px black;
}

div.square-logo img {
    width: 50%;
    filter: invert(1);
}

.img-university-florida {
    height: 20px;
    margin: auto;
}


section.banner {

    background-color: aqua;

    height: 250px;


}

div.faq-box {

    height: 300px;
    background-color: brown;

    margin-top: 100px;
    margin-bottom: 100px;


}

footer.footer-section {

    background-color: black;
    height: 500px;
}