/* RESET */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.flex-around {
    justify-content: space-around;
}


.flex-between {
    justify-content: space-between;
}

.flex {
    display: flex;
}

header {

    height: 80px;
    background-color: white;
}

ul {

    list-style: none;
}

li {
    margin-right: 10px;
}


img {

    height: 20px;
    
}

.container {

    max-width: 900px;
    margin: 0 auto;
}

div.jumboscreen {

    height: 600px;
    background-color: red;

}

.jumbo-section {

    height: 600px;

    background-color: aqua;
}


.container2 {

    max-width: 800px;
    margin: 0 auto;
}

.h1-ratio-box {

    height: 150px;
    background-color: aqua;
    margin-top: 100px;
}


.column {

    width: calc(100% / 3);
    background-color: magenta;
    border: solid 10px white;
    height: 600px;
    margin-top: 50px;
}